*, *::before, *:after {
  box-sizing: inherit;
  margin: 0 auto;
  text-align: center;
}

html {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.logo {
  margin-bottom: 2%;
}

nav {
  background-color: white;
  display: block;
}

nav ul li {
  padding: 2%;
}

nav ul li:hover {
  background: gray;
  color: white;
}

h1 {
  display: top;
  font-family: 'Nunito Sans', sans-serif;
}

/*.search {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: auto;
  padding-left: 450px;
  padding-bottom: 15px;

}*/

/*.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
}*/

.content {
  background-color: #c5d2d6;
  margin: 0 auto;
  text-align: center;
}

.grid-item {
  display: inline-block;
  background-color: gray;
  border: 1px solid black;
  border-radius: 5%;
  margin: 1%;
  height: 200px;
  width: 200px;
}

.grid-item-img {
  height: 70%;
  width: auto;
  max-width: 95%;
  margin-top: .5%;
}

.footer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
